/*la différence entre "categoryButtons" et "villain" repose uniquement dans le placement de l'image et du texte dans le cadre*/


/*placer la grille pour créer les cadres aux bons emplacements*/
.categoryButtons {
    background-color: rgb(182, 39, 39) ;
    display: flex;
    justify-content: center;
    gap: 60px; 
    padding: 20px;
    align-items: flex-end; 
    text-align: center;
}

/*création des cadres*/
.imageContainer {
    width: 150px;
    height: 150px;
    border: 4px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    /*fluidifier la transition*/
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

/*placer l'image dans le cadre*/
.imageContainer img {
    max-width: 90%; 
    max-height: 80%; 
    object-fit: contain; 
    margin-bottom: 10px; 
    /*fluidifier la transition*/
    transition: filter 0.5s ease; 
}

/*Etablir les propriétés des textes dans les cadres*/
.imageContainer p {
    margin: 0;
    color: white;
    font-family: 'Albert Sans', sans-serif; 
    font-weight: bold;
    font-size: 14px; 
    margin-top: 0; 
}

/*Animation au survol du cadre*/
.imageContainer:hover {
    transform: translateY(-5px); 
    background-color: white; 
}

/*Animation/modification de la couleur de l'image en appliquant un filtre dessus*/
.imageContainer:hover img {
    filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(3228%) hue-rotate(351deg) brightness(91%) contrast(83%);
}

/*Modifier la couleur du texte au survol*/
.imageContainer:hover p {
    color: black;
}

/*Même chose que pour categoryButtons*/
.villain {
    width: 150px;
    height: 150px; 
    border: 4px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

/*on place ici manuellement l'image dans le cadre*/
.villain img {
    margin-top: 25px;
    max-width: 90%; 
    max-height: 80%; 
    object-fit: contain; 
    margin-bottom: 10px; 
    /*trnsition utile ou non ?*/
    /*transition: filter 0.5s ease*/; 
}

/*Etablir les propriétés du texte et le placer manuellement dans le cadre*/
.villain p {
    margin-top: 9px;
    color: white;
    font-family: 'Albert Sans', sans-serif; 
    font-weight: bold;
    font-size: 14px;
}

/*Animation au survol du cadre*/
.villain:hover {
    transform: translateY(-5px); 
    background-color: white;
}

/*Modification de la couleur de l'image grâce à un filtre*/
.villain:hover img {
    filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(3228%) hue-rotate(351deg) brightness(91%) contrast(83%);
}

/*Modifier la couleur du texte au survol*/
.villain:hover p {
    color: black; 
}