/*Placer le container*/
#actus {
    width: 100%;
    display: grid;
    grid-template-columns: 8rem auto;
    grid-template-areas: ". title" "buttons slider";
    margin: 0;
    background-color: rgb(182, 39, 39);
}

/*Placer un autre container dans le premier*/
#actus_title {
    position: relative;
    margin: 4rem 0 1rem 1rem;
    font-size: 2em;
    grid-area: title;
    font-family: 'FrontageCondensedOutline';
    color: white;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center; 
}

/*Placer le container du bouton*/
#bouton-actu-container {
    text-align: center; 
    background-color: rgb(182, 39, 39);
    padding-bottom: 40px;

}

/* Propriétés du bouton */
#bouton-actu-container button {
    font-size: 1.2rem;
    background-color: white;
    color: rgb(182, 39, 39);
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block; 
    text-align: center;
}

/*Animation au survol du bouton*/
#bouton-actu-container button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}

/*Propriétés du titre*/
#actus_title h3 {
    font-size: 3.5rem; 
    line-height: 2.5rem; 
    font-family: 'FrontageCondensedOutline';
    color: white;
    margin: 0;
    display: inline-block; 
}

/* Propriétés "bons plans"*/
#actus_title h3 span {
    display: block; 
    text-indent: 1rem; 
    font-size: 3.5rem; 
    color: transparent; 
    -webkit-text-stroke: 2px white; 
    margin-top: 0.5rem; 
}

/* Positionnement des flèches et de la barre*/
#actus_interactible {
    margin-top: 0.5rem; 
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1rem; 
    position: relative; 
}

/*Placement slider*/
#actus_slider {
    position: relative;
    grid-area: slider;
    overflow: hidden;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Arial;
    color: white;
    width: 100%;
    height: 370px;
}

/*Placement des slides*/
#actus_slides {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    transform: translateX(-0%);
    transition: transform 1s;
    padding: 1rem;
}

#actus_slides > div {
    margin-right: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*Propriétés des images*/
.actus_image {
    display: flex;
    width: 14rem;
    height: 16rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: transparent;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
}

/*Propriétés du texte image*/
.actus_image p {
    margin-top: auto;
    margin-bottom: 0;
    transition: margin-bottom 0.5s;
    color: black;
    font-size: 1em;
    height: min-content;
    font-family: "Gill Sans", sans-serif;
}

/*Animation au survol des images*/
.actus_image:hover {
    transform: scale(1.05); 
}

/*Animation texte au survol des images*/
.actus_image:hover p {
    margin-bottom: 1rem;
}

/*Placement des bloc texte sur les images*/
.text-overlay {
    width: 14rem;
    height: 16rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: transparent;
    background-blend-mode: overlay;
    transition: background-color 0.5s;
    font-family: "Gill Sans", sans-serif;
}

/*Propriétés des blocs texte sur les images*/
.text-overlay p {
    margin-top: auto;
    margin-bottom: 0;
    transition: margin-bottom 0.5s;
    color: black;
    font-size: 1.2em;
    height: min-content;
    font-family: "Gill Sans", sans-serif;
    /*Ombre pour mieux voir le texte sur les images*/
    text-shadow: 
        0px 0px 2px rgba(255, 255, 255, 0.8), 
        0px 0px 4px rgba(255, 255, 255, 0.6); 
}

/*Placement container fleches et barres*/
#actus_interactible {
    grid-area: buttons;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding-left: 3rem;
}
/*Placement fleches et barres*/
#actus_interactible_arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 65px;
    gap: 1rem;
    margin-top: 2rem; 
}

/*Indicateur de déplacement sur la barre*/
#slider-progress-bar {
    width: 500px;  
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

/*Indicateur de déplacement sur la barre*/
.progress-indicator {
    position: absolute;  
    height: 100%;
    width: 20%; 
    background-color: white;
    border-radius: 6px;
    transition: left 0.5s;  
    left: 0%; 
}

/*Propriétés fleches*/
#actus_interactible_arrows button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

/*Propriétés des img fleches*/
#actus_interactible_arrows img {
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) invert(1); 
}

/*cacher le compteur de slide*/
#actus_interactible{
    visibility: hidden;
}